.accordion {
  --block-border-width: 0px;
  background-color: transparent;
}
.accordion > button {
  justify-content: flex-start;
}
.accordion > button > span:first-child {
  width: auto;
  margin-right: 4px;
}
.accordion .tabs {
  margin-top: 12px;
}
.accordion .tabitem > div {
  --block-border-width: 1px;
}

.tabs, .tabitem, .tab-nav, .tab-nav > .selected {
  border-width: 0px;
}
.tabitem {
  max-height: 600px;
  overflow-y: auto;
}
.tabitem .markdown {
  margin-top: 4px;
  margin-left: 8px;
}

#gallery {
  --block-border-width: 0px;
  background-color: transparent;
}

#intro {
  display: flex;
  align-items: center;
}
#intro > h1 > span {
  color: #047857 !important;
  font-style: italic;
}
#intro > h1 > span:is(.dark *) {
  color: #10b981 !important;
}
#intro > svg {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  fill: #047857 !important;
  animation: spin 3s linear infinite reverse;
}
#intro > svg:is(.dark *) {
  fill: #10b981 !important;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}
