accelerate
compel==2.0.3
controlnet-aux==0.0.9
deepcache==0.1.1
diffusers==0.30.3
einops==0.8.0
gradio==4.44.1
hf-transfer
mediapipe
numpy==1.26.4
opencv-contrib-python
pydantic==2.10.6
ruff==0.6.9
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
